@import "tailwindcss";

@theme {
  --font-display: "Inter";
  --breakpoint-3xl: 120rem;
  --color-primary-500: #e63946;
  --color-secondary-500: #fca311;
  --color-accent-500: #a8dadc;
  --color-light-500: #f1faee;
  --color-dark-500: #22223b;
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-dark-500 font-display text-light-500 scheme-light-dark;
}

body {
  @apply m-0 min-h-[100vh] min-w-[320px] pt-[72px];
}

@media (prefers-color-scheme: light) {
  :root {
    @apply text-dark-500 bg-light-500;
  }
}

@layer components {
  
}